<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color:#7aacff">
                    <img id="logo" src="img/ticket.png">TicketDon</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about" style="color:#7aacff">About</a>
                    </li>
                    <li>
                        <a onclick="document.getElementById('donor-login').style.display='block'" style="width:auto;color:#7aacff">
                            <span class="glyphicon glyphicon-log-in"></span> Donor Log In</a>
                    </li>
                    <li>
                        <a onclick="document.getElementById('rcpt-login').style.display='block'" style="width:auto;color:#7aacff">
                            <span class="glyphicon glyphicon-log-in"></span> Recipient Log In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        <div id="donor-login" class="module">
            <form class="module-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('donor-login').style.display='none'" class="close" title="Close module">&times;</span>
                </div>
                <div class="container">
                    <div class="col-lg-10">
                        <label for="donorEmail">
                            <b>Email</b>
                        </label>
                        <input type="text" id="donorEmail" placeholder="Enter Email" name="donorEmail" required>
                        <label for="psw">
                            <b>Password</b>
                        </label>
                        <input type="password" id="donorPw" placeholder="Enter Password" name="psw" required>
                        <div class="row">
                            <button id="donor-login" type="submit">Login</button>
                        </div>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div id="rcpt-login" class="module">
            <form class="module-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('rcpt-login').style.display='none'" class="close" title="Close module">&times;</span>
                </div>
                <div class="container">
                    <div class="col-lg-10">
                        <label for="rcptEmail">
                            <b>Email</b>
                        </label>
                        <input type="text" id="rcptEmail" placeholder="Enter Username" name="rcptEmail" required>
                        <label for="psw">
                            <b>Password</b>
                        </label>
                        <input type="password" id="rcptPw" placeholder="Enter Password" name="psw" required>
                        <div class="row">
                            <button id="rcpt-login" type="submit">Login</button>
                        </div>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</header>

<main>
    <!--Bootstrap container-->
    <div class="container">

        <div class="jumbotron">
            <center>
                <h1>About Us</h1>
            </center>
            <p>It is often difficult for those less fortunate to take part in culturally enriching activities such as art shows,
                concerts, the ballet, or the Opera due to the high financial cost of attending such events. Children and
                the elderly in inner cities rarely ever get to attend such events unless they are participating in a class
                trip or other sponsored activity. Likewise, people who have paid for tickets sometimes have things come up
                last minute and those event tickets often go to waste. By donating tickets that will otherwise go unused
                through The TicketDon, we aim to bridge this gap and broaden access to the arts to all people.
            </p>


        </div>


    </div>


</main>


<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <p class="footer-copyright">
                    <strong>&copy; Copyright 2018 TicketDon</strong>
                </p>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>
</footer>