<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>The Ticket Don</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oxygen" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="..\public\img\favicon.ico" type="image/x-icon">
    <link rel="icon" href="..\public\img\favicon.ico" type="image/x-icon">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!--Bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Custom CSS-->
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css" />

</head>

<body>

    <header>

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <!-- MAKE SURE THE HAMBURGER MENU WORKS-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="color:#7aacff">
                        <img id="logo" src="..\public\img\ticket.png">Ticket Don</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/about" style="color:#7aacff">About</a>
                        </li>
                        <li>
                            <a href="#" style="width:auto;color:#7aacff">Sign Out</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>

    </header>
    <main>
        <!--Bootstrap container-->
        <div class="container">


            <div class="row">

                <div class="col-md-12">

                    <center>
                        <h2>Events</h2>
                    </center>

                    <br>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Event ID</th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Event Address</th>
                                <th scope="col">Tix Available</th>
                                <th scope="col">Request Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="padding: 20px">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Request Ticket</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Request Ticket</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Request Ticket</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </main>


    <footer class="navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <p class="footer-copyright">
                        <strong>&copy; Copyright 2018 Ticket Don</strong>
                    </p>
                </div>

                <div class="col-md-3">

                </div>
            </div>
        </div>
    </footer>

</body>

</html>