<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color:#7aacff">
                    <img id="logo" src="img/ticket.png">Ticket Don</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about" style="color:#7aacff">About</a>
                    </li>
                    <li>
                        <a onclick="document.getElementById('login').style.display='block'" style="width:auto;color:#7aacff">
                            <span class="glyphicon glyphicon-log-in"></span> Log-In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        <div id="login" class="module">
            <form class="module-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close module">&times;</span>
                </div>
                <div class="container">
                    <label for="uname">
                        <b>Email</b>
                    </label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                    <label for="psw">
                        <b>Password</b>
                    </label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit">Login</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" onclick="document.getElementById('id01').style.display='block'">Sign Up</button>
                        </div>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot
                        <a href="#">password?</a>
                    </span>
                </div>
            </form>
        </div>
    </nav>
</header>
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content">
        <div class="container">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="email">
                <b>Email</b>
            </label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <label for="psw">
                <b>Password</b>
            </label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <label for="psw-repeat">
                <b>Repeat Password</b>
            </label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            <p>By creating an account you agree to our
                <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
</div>
<main>
    <!--Bootstrap container-->
    <div class="container">
        <div class="jumbotron">
            <center>
                <h1>Welcome to Ticket Donate!</h1>
            </center>
            <p>Ticket Donate allows elderly individuals who may not be able to afford tickets to various events to connect with
                others who have extra tickets and are willing to donate them to help the community.</p>
            <center>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary btn-lg" href="/donate" role="button">Donate Tix!</a>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary btn-lg" href="/apply" role="button">Request Tix!</a>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </center>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h2>
                        <strong>Upcoming Events:</strong>
                        <br>
                        <br>
                    </h2>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-thumbnail" src="img/journey.jpg">
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    <strong>Journey/Def Leppard</strong>
                                </h3>
                                <p>Mon 6/11 @ 7pm</p>
                                <p>Wells Fargo Center, Philadelphia, PA</p>
                                <a class="btn btn-info" href="https://www1.ticketmaster.com/event/Z7r9jZ1Ae1bo6?routing=y&tmrid=TMR-2298447&_ga=2.78832151.2065976383.1526843298-560635316.1526843298"
                                    target="_blank">More Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-thumbnail" src="img/ccr.jpg">
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    <strong>Creedence Clearwater Revisited</strong>
                                </h3>
                                <p>Fri 7/6 @ 9pm</p>
                                <p>Tropicana Showroom, Atlantic City, NJ</p>
                                <a class="btn btn-info" href="https://www1.ticketmaster.com/creedence-clearwater-revisited-atlantic-city-new-jersey-07-06-2018/event/02005468217FECF3?artistid=723998&majorcatid=10001&minorcatid=1&tm_link=artist_msg-0_02005468217FECF3"
                                    target="_blank">More Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <p class="footer-copyright">
                    <strong>&copy; Copyright 2018 Ticket Don</strong>
                </p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</footer>