<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <!-- MAKE SURE THE HAMBURGER MENU WORKS-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color:#7aacff">
                    <img id="logo" src="img/ticket.png">Ticket Don</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about" style="color:#7aacff">About</a>
                    </li>
                    <li>
                        <a href="/" style="width:auto;color:#7aacff">Sign Out</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

</header>
<main>
    <!--Bootstrap container-->
    <div class="container">


        <div class="row">

            <div class="col-md-2">

            </div>

            <div class="col-md-8" style="background: #b7dbff; border-radius: 20px; padding: 20px 0">


                <center>
                    <h1>Submit New Event</h1>
                </center>

                <br>

                <form>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputDOB">Venue Name</label>
                            <input type="text" class="form-control" id="venueName">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputAddress12">Event Name</label>
                            <input type="text" class="form-control" id="inputAddress2">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputAddress">Venue Address</label>
                            <input type="text" class="form-control" id="inputAddress">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">Venue City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputState">Venue State</label>
                            <select id="inputState" class="form-control">
                                <option value="" selected="selected">Select a State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputZip">Venue Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ticketCount">Number of Tickets</label>
                            <input type="text" class="form-control" id="ticketCount">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="barcodeNum">Ticket Barcode Number</label>
                            <input type="text" class="form-control" id="barcodeNum">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlFile1">Ticket Scan Upload (please include barcode)</label>
                            <input type="file" class="form-control-file" id="jpg_jpeg_png">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Submit New Event</button>
                        </div>
                    </div>

                </form>


            </div>


            <div class="col-md-2">

            </div>

        </div>
    </div>

</main>


<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <p class="footer-copyright">
                    <strong>&copy; Copyright 2018 Ticket Don</strong>
                </p>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>
</footer>