<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color:#7aacff">
                    <img id="logo" src="img/ticket.png">Ticket Don</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about" style="color:#7aacff">About</a>
                    </li>
                    <li>
                        <a href="/" style="width:auto;color:#7aacff">Sign Out</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

</header>
<main>



    <div class="main-container">

        <div id="background-container" class="container">

            <!-- Jumbotron -->
            <div class="jumbotron lg">
                <h2 id="bold-heading" class="text-center">
                    <strong>Find the event you would like to donate tickets to.</strong>
                </h2>


                <!-- Search for artists/events -->
                <div class="row text-center">
                    <div class="col-md-4 col-md-offset-4">
                        <form role="search">
                            <div class="form-group">
                                <input type="text" id="queryTerm" class="form-control" placeholder="Search for artists, concerts or events">
                                <button type="submit" class="btn btn-success" id="search-events-btn">
                                    <i class="fa fa-search fa-lg" aria-hidden="true"> Search</i>
                                </button>
                            </div>


                        </form>
                    </div>

                </div>

            </div>


            <!-- Start of Event Search Table -->

            <div class="row">
                <class="center-div">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong>Event List</strong>
                            </h3>
                        </div>

                        <div class="panel-body">
                            <table class="table table-hover" id="event-table">
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Venue</th>
                                        <th>Url</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>


            </div>

        </div>

    </div>
    <!--Bootstrap container-->
    <div class="container">


        <div class="row">

            <div class="col-md-2">

            </div>

            <div class="col-md-8" style="background: #b7dbff; border-radius: 20px; padding: 20px 0">


                <center>
                    <h1>Submit New Event</h1>
                </center>

                <br>

                <form id="newEventsForm">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEvent">Event Name</label>
                            <input type="text" class="form-control" id="eventName" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputLocation">Location</label>
                            <input type="text" class="form-control" id="inputLocation" required>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputVenue">Venue</label>
                            <input type="text" class="form-control" id="inputVenue" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputDate">Date (MM/DD/YYYY)</label>
                            <input type="text" class="form-control" id="inputDate" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="ticketCount">Number of Tickets</label>
                            <input type="text" class="form-control" id="ticketCount" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" id="myform" class="btn btn-primary">Submit New Event</button>
                        </div>
                    </div>

            </div>
        </div>
        </form>


    </div>


    <div class="col-md-2">

    </div>

    </div>
    </div>

</main>


<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <p class="footer-copyright">
                    <strong>&copy; Copyright 2018 Ticket Don</strong>
                </p>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>
</footer>