<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <!-- MAKE SURE THE HAMBURGER MENU WORKS-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index-test.html" style="color:#7aacff">
                    <img id="logo" src="..\public\img\ticket.png">Ticket Don</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html" style="color:#7aacff">About</a>
                    </li>
                    <li>
                        <a href="#" style="width:auto;color:#7aacff">Sign Out</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

</header>
<main>
    <!--Bootstrap container-->
    <div class="container">


        <div class="jumbotron">
            <center>
                <h1>Welcome to Ticket Donate!</h1>
            </center>
            <p>Ticket Donate allows elderly individuals who may not be able to afford tickets to various events to connect with
                others who have extra tickets and are willing to donate them to help the community.</p>


            <center>
                <div class="row">

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-2">

                        <a class="btn btn-primary btn-lg" href="#" role="button">Donate Tix!</a>

                        <br>
                        <br>

                    </div>

                    <div class="col-md-2">

                        <a class="btn btn-primary btn-lg" href="#" role="button">Request Tix!</a>

                        <br>
                        <br>

                    </div>


                    <div class="col-md-4">

                    </div>


                </div>
            </center>

        </div>


        <div class="row">

            <div class="col-md-12">

                <center>
                    <h2>
                        <strong>Upcoming Events:</strong>
                        <br>
                        <br>
                    </h2>
                </center>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Event ID</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Event Address</th>
                            <th scope="col">Tix Available</th>
                            <th scope="col">Request Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="padding: 20px">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <button type="button" class="btn btn-primary">Request Ticket</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>
                                <button type="button" class="btn btn-primary">Request Ticket</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>
                                <button type="button" class="btn btn-primary">Request Ticket</button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>


        </div>


    </div>

</main>


<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <p class="footer-copyright">
                    <strong>&copy; Copyright 2018 Ticket Don</strong>
                </p>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>
</footer>